@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/sf-pro-display');
* {
  font-family: 'SF Pro Display', sans-serif;
}

body{
  background-color: #ffffff;
}

.beyazbg{
  background-color: white;
}

.airpods{
  padding-top: 30%;
  background-position: center;
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}